<!DOCTYPE html>
<html class="flex flex-col h-full m-0">
<head>

    {# ==================== Google Tag Manager ==================== #}
    {% if app.environment in ['prod', 'staging'] %}
        {% set gtm_id = app.environment == 'prod' ? 'GTM-SN834LR7' : 'GTM-TGS3M5KV' %}
        <script>
            (function(w,d,s,l,i){
                w[l]=w[l]||[];
                w[l].push({'gtm.start': new Date().getTime(), event:'gtm.js'});
                var f=d.getElementsByTagName(s)[0],
                    j=d.createElement(s),
                    dl=l!='dataLayer'?'&l='+l:'';
                j.async=true;
                j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;
                f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','{{ gtm_id }}');
        </script>
    {% endif %}
    {# ==================== End Google Tag Manager ==================== #}

    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="{{ '/images/favicon.ico' }}">

    {% block stylesheets %}
        {{ vite_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts_tags %}
        {{ vite_entry_script_tags('app') }}
        {{ encore_entry_script_tags('app') }}
        {{ vite_entry_script_tags('app', { dependency: 'react' }) }}
    {% endblock %}

</head>

<body>

    {# ==================== Google Tag Manager (noscript) ==================== #}
    {% if app.environment in ['prod', 'staging'] %}
        {% set gtm_id = app.environment == 'prod' ? 'GTM-SN834LR7' : 'GTM-TGS3M5KV' %}
        <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id={{ gtm_id }}"
                    height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
    {% endif %}
    {# ==================== End Google Tag Manager (noscript) ==================== #}

    {% block body %}{% endblock %}

</body>
</html>
